<div>Today's Date</div>
<div>
Select Team players:

<mat-form-field appearance="fill">
    <mat-label>Players</mat-label>
    <!-- <mat-select [formControl]="players" multiple>
      <mat-select-trigger>
        {{players.values ? players.values[0] : ''}}
        <span *ngIf="players.values" class="example-additional-selection">
          (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let player of players" [value]="player.playerId">{{player.firstName}}</mat-option>
    </mat-select> -->
  </mat-form-field>

</div>