<div class="pageContent">
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="userEmail">EmailId</label>
            <input id="userEmail" type="text" name="userEmail" [(ngModel)]="userEmailId">
        </div>
        <div>
            <label for="userPassphrase">Password</label>
            <input id="userPassphrase" type="text" name="userPassphrase" [(ngModel)]="userPassphrase">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <div *ngIf="loginFailed">
        No matching credentials found
    </div>
</div>